<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width,initial-scale=1.0">
      <link rel="shortcut icon" href="<%= webpackConfig.output.publicPath %>favicon.ico">
      <title>Webentwicklung Ideenreich</title>
  </head>

  <body>
    <div id="app"></div>
  </body>
</html>