<template>
    <div id="app" class="todos">
        <div class="todos__header">
            <img src="./assets/images/logo.png" alt="Logo">

            <span>
                Webentwicklung Ideenreich
            </span>
        </div>

        <div class="todos__content">
            <h1>
                todos
            </h1>

            <ul class="todos__list">
                <li :key="index" v-for="(todo, index) in todos">
                    {{ todo.name }}
                    <i class="fa fa-times todos__remove" @click="remove(todo)"></i>
                </li>
            </ul>

            <div class="todos__new">
                <input type="text" v-model="newTodo" @keyup.enter="submit">
                <button @click="submit">
                    add
                </button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'app',

        data () {
            return {
                apiURL: 'http://localhost:3000/',
                newTodo: '',
                todos: []
            };
        },

        mounted () {
            this.loadTodos();
        },

        methods: {
            loadTodos () {
                /**
                 * @TODO: Use axios to GET all todos from the server.
                 * 
                 * type: GET
                 * request url: apiURL + /todos
                 */
            },
            submit () {
                /**
                 * @TODO: Use axios to POST the content of the input to the server.
                 *        Clear input and update todos after successful response.
                 * 
                 * type: POST
                 * request url: apiURL + /todos
                 * required params: name (string)
                 */
            },
            remove (todo) {
                /**
                 * @TODO: Use axios to DELETE a specific todo from the server.
                 *        Update todos after successful response.
                 * 
                 * type: DELETE
                 * request url: apiURL + /todos/ + {id of todo}
                 * required params: id (integer)
                 */
            }
        }
    };
</script>

<style lang="less">
    @import './assets/less/app';

    .todos {
        padding: 30px;
        &__header {
            display: flex;
            align-items: center;
            img {
                max-width: 100px;
            }
            span {
                color: @primary;
                font-size: 1.2em;
                padding: 6px 12px;
            }
        }
        &__content {
            margin: 30px 0;
        }
        &__list {
            width: 400px;
        }
        &__remove {
            float: right;
            cursor: pointer;
        }
    }
</style>
